* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  background: linear-gradient(
    to bottom,
    #009688 0%,
    #009688 15vh,
    #dddbd1 15vh,
    #d3dbdb 100vh
  );
}

/* GENERAL */
#app {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}

.container {
  margin: 0 auto;
  height: calc(100vh - 60px);
  width: 75%;
  display: flex;
}

img.avatar {
  height: 50px;
  width: 50px;
  border-radius: 100%;
}

.icon {
  color: #b1b1b1;
  cursor: pointer;
}

ul {
  list-style: none;
}

/* CONTACTS BAR E CHAT BAR*/
.contacts-bar {
  height: 100%;
  width: 35%;
  padding-bottom: 20px;
  background-color: white;
}

.contacts-area {
  width: 100%;
  height: calc(100% - 200px);
  background-color: #ffffff;
  overflow: auto;
}

.recipient-user-bar,
.typing-area {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.recipient-user-bar {
  background-color: #eaeaea;
}

.recipient-user-bar.recipient,
.typing-area {
  border-left: 1px solid #dadbd3;
}

.recipient-user-bar .icon {
  font-size: 1.3rem;
  margin-right: 15px;
}

.info {
  display: flex;
  align-items: center;
}

.description,
.bell-circle {
  margin-left: 15px;
}

.info .name,
.desktop h2 {
  font-size: 1rem;
}

.last.access {
  font-size: 0.9rem;
}

.last.message {
  max-height: 35px;
  overflow:hidden;
}

/* DESKTOP ALERT */
.desktop-alert {
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  background-color: #8edafc;
}

.bell-circle {
  display: inline-block;
  width: 45px;
  height: 45px;
  background-color: white;
  border-radius: 100%;
  text-align: center;
  line-height: 45px;
}

.bell-circle .icon {
  color: #8edafc;
}

.call {
  text-decoration: underline;
  cursor: pointer;
}

.last,
.call {
  color: gray;
}

/* SEARCH BAR TO FILTER CONTACTS */
.search-area {
  position: relative;
  width: 100%;
  height: 50px;
  background-color: #fafafa;
  line-height: 50px;
  text-align: center;
  padding: 0 10px;
}

.search-area input {
  width: 100%;
  height: 35px;
  text-indent: 60px;
  border: none;
}

.icon.search {
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
}

/* CONTACT LIST*/
.list-item {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  border-top: 1px solid #dadbd3;
  border-bottom: 1px solid #dadbd3;
  cursor: pointer;
}

.list-item img.avatar {
  width: 60px;
  height: 60px;
}

.list-item .info {
  align-items: flex-start;
}

.list-item .name {
  font-size: 1.1rem;
}

.last.time-message,
.last.message {
  font-size: 0.8rem;
}

.last.time-message {
  margin-left: 10px;
}

.list-item.active {
  background-color: #e9ebeb;
}

/* CHAT SECTION */
.chat-bar {
  height: 100%;
  width: 65%;
  display: flex;
}

.active-chat {
  height: 100%;
  position: relative;
}

.active-chat.full {
  width: 100%;
}

.active-chat.cut {
  width: 50%;
}

.chat-area {
  width: 100%;
  height: calc(100% - 140px);
  background-image: url(../img/mine.jpg);
  overflow: auto;
  padding: 50px 70px;
}

/* CHAT MENU */
.menu {
  position: absolute;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.chat.menu {
  right: 30px;
  top: 60px;
  z-index: 998;
  width: 200px;
}

.menu li {
  cursor: pointer;
  padding: 15px 25px;
}

.chat.menu li:hover {
  background-color: #f5f7f6;
}

.icon.ellipsis {
  display: inline-block;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  text-align: center;
  line-height: 40px;
}

.icon.ellipsis.active {
  background-color: lightgray;
}

.definitive:active {
  color: red;
}

/* ACTIVE CHAT: MESSAGES */
.message.clearfix {
  margin-top: 10px;
}

.container-msg {
  position: relative;
  min-width: 250px;
  max-width: 60%;
  padding: 10px 15px;
  border-radius: 10px;
}

.container-msg.recipient {
  float: left;
  background-color: #ffffff;
}

.container-msg.user {
  float: right;
  background-color: #d5f9ba;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.text-container {
  display: flex;
  justify-content: space-between;
}

.text-msg {
  width: calc(100% - 30px);
}

.time-msg {
  display: block;
  text-align: end;
  margin-top: 5px;
  color: gray;
  font-size: 0.7rem;
}

.delete,
.delete .icon {
  color: #6b7376;
  font-style: italic;
}

/* CHEVRON MENU */
.icon.chevron {
  width: 30px;
  color: transparent;
  text-align: end;
}

.icon.chevron.hover {
  color: #b1b1b1;
}

.chevron.menu {
  top: 1.8rem;
  right: 1rem;
  z-index: 999;
}

.chevron.menu li:first-child {
  cursor: help;
}

.chevron.menu li:hover {
  color: #31ade7;
}

.chevron.menu li:not(:first-child):active {
  color: red;
}

.info-msg {
  background-color: white;
  position: absolute;
  bottom: calc(100% + 20px);
  padding: 1rem;
  box-shadow: 0px 0px 8px #31ade7;
  font-size: 0.8rem;
}

/* TYPING SECTION */
.typing-area {
  background-color: #f3eeea;
  padding: 10px 0;
}

.type-input {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: none;
  text-indent: 15px;
}

.typing-area .icon {
  font-size: 1.5rem;
  color: #6b7376;
  margin: 0 30px;
}

/* INFO CONTACT MENU */
.info-contact-menu {
  width: 50%;
  background-color: white;
}

.title-menu {
  height: 70px;
  background-color: #eaeaea;
  border-left: 1px solid #dadbd3;
  line-height: 70px;
}

.avatar-container {
  text-align: center;
}

.avatar-container .avatar {
  width: 200px;
  height: 200px;
}

.avatar-container,
.info-container {
  padding: 40px;
  border-bottom: 3px solid #eaeaea;
}

.info-contact-menu span {
  padding: 0 20px;
  font-size: 1.2rem;
  font-weight: normal;
}

.info-contact-menu h2 {
  margin: 15px 0 10px;
  font-size: 1.8rem;
}

.info-contact-menu h3 {
  font-weight: normal;
}

.info-contact-menu h5 {
  font-size: 1rem;
  margin-bottom: 10px;
}

.icon.mark:hover,
.icon.mark:active {
  color: #6b7376;
}

/* MEDIAQUERY */
@media screen and (max-width: 1140px) {
  .container {
    width: 90%;
  }
}

@media screen and (max-width: 780px) {
  .contacts-bar {
    width: 20%;
  }

  .chat-bar {
    width: 80%;
  }

  .desktop-alert {
    display: none;
  }

  .contacts-area {
    height: calc(100% - 120px);
  }
}