<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/style.css" />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/luxon/3.1.0/luxon.min.js"
      integrity="sha512-79nhbkASdW5wurW8DtF9Vd7BEDKdTbCKkh87lW6W3tk9T4L9Bc58MzmvRzjMcFCSKpjkoRjwzrTdfOa5lkfJ5Q=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="https://unpkg.com/vue@3"></script>
    <title>Boolzapp</title>
  </head>
  <body>
    <div id="app">
      <div class="container">
        <!-- CONTACTS - BAR -->
        <div class="contacts-bar">
          <div class="recipient-user-bar user">
            <!-- USER ACCOUNT -->
            <div class="user info">
              <img
                class="avatar"
                :src="'img/avatar' + user.avatar + '.jpg'"
                :alt="user.name"
              />
              <div class="sender description">
                <h2 class="sender name">Sofia</h2>
              </div>
            </div>
            <!-- /USER ACCOUNT -->

            <div class="menu-icons">
              <i class="fa-solid fa-circle-notch icon"></i>
              <i class="fa-solid fa-message icon"></i>
              <i class="fa-solid fa-ellipsis-vertical icon"></i>
            </div>
          </div>
          <div class="desktop-alert">
            <span class="bell-circle">
              <i class="fa-solid fa-bell-slash icon"></i>
            </span>
            <div class="desktop description">
              <h2>Ricevi notifiche di nuovi messaggi</h2>
              <p class="call">Attiva notifiche desktop</p>
            </div>
          </div>

          <!-- SEARCH-BAR TO FILTER CONTACTS -->
          <div class="search-area">
            <i class="fa-solid fa-magnifying-glass icon search"></i>
            <input
              @keyup="handlerKeyUp()"
              v-model="keyString"
              type="text"
              class="search-input"
              placeholder="Cerca o inizia una nuova chat"
            />
          </div>
          <!-- /SEARCH-BAR TO FILTER CONTACTS -->

          <div class="contacts-area">
            <ul class="list">
              <!-- CONTACTS LIST -->
              <template v-for="(contact, index) in contacts">
                <li
                  v-if="contact.visible===true"
                  :class="{'active' : counterIndex===index}"
                  class="list-item"
                  @click="counterIndex=index, doScroll=true"
                >
                  <div class="recipient info">
                    <img
                      class="avatar"
                      :src="'img/avatar' + contact.avatar +'.jpg'"
                      :alt="contact.name"
                    />
                    <div class="recipient description">
                      <h2 class="recipient name">{{contact.name}}</h2>
                      <p
                        v-if="contact.messages[contact.messages.length -
                        1].textMessage === ''"
                        class="last message delete"
                      >
                        Messaggio eliminato
                      </p>
                      <p v-else class="last message">
                        {{contact.messages[contact.messages.length -
                        1].textMessage}}
                      </p>
                    </div>
                  </div>
                  <p
                    v-if="contact.messages[contact.messages.length - 1].date.slice(0, 8) === nowFormatted"
                    class="last time-message"
                  >
                    Oggi
                  </p>
                  <p v-else class="last time-message">
                    {{contact.messages[contact.messages.length -
                    1].date.slice(0, 8)}}
                  </p>
                </li>
              </template>
              <!-- /CONTACTS LIST -->
            </ul>
          </div>
        </div>
        <!-- /CONTACTS - BAR -->

        <!-- CHAT SECTION -->
        <div class="chat-bar">
          <!-- ACTIVE CHAT: CONTACT -->
          <div class="recipient-user-bar recipient">
            <div class="recipient info">
              <img
                class="avatar"
                :src="'img/avatar' + contacts[counterIndex].avatar + '.jpg'"
                alt="contacts[counterIndex].name"
              />
              <div class="recipient description">
                <h2 class="recipient name">{{contacts[counterIndex].name}}</h2>
                <p
                  v-if="contacts[counterIndex].lastAccess.slice(0, 8) === nowFormatted"
                  class="last access"
                >
                  Ultimo accesso oggi alle
                  {{contacts[counterIndex].lastAccess.slice(9, 14)}}
                </p>
                <p v-else class="last access">
                  Ultimo accesso il {{contacts[counterIndex].lastAccess.slice(0,
                  8)}} alle {{contacts[counterIndex].lastAccess.slice(9, 14)}}
                </p>
              </div>
            </div>
            <div class="menu-icons">
              <i class="fa-solid fa-magnifying-glass icon"></i>
              <i class="fa-solid fa-paperclip icon"></i>
              <i class="fa-solid fa-ellipsis-vertical icon"></i>
            </div>
          </div>
          <!-- /ACTIVE CHAT: CONTACT -->

          <div class="chat-area">
            <!-- ACTIVE CHAT: MESSAGES -->
            <div
              v-for="(message, msgIndex) in contacts[counterIndex].messages"
              :class="{'user': message.status==='sent','recipient' : message.status==='received'}"
              class="message clearfix"
            >
              <div
                @mouseenter="showChevron = msgIndex"
                @mouseleave="showChevron = null"
                :class="{'user': message.status==='sent','recipient' : message.status==='received'}"
                class="container-msg"
              >
                <div class="text-container">
                  <span v-if="message.textMessage === ''" class="delete">
                    <i class="fa-solid fa-ban icon"></i>
                    Hai eliminato questo messaggio
                  </span>
                  <span v-else class="text-msg">{{message.textMessage}}</span>
                  <i
                    @click="doChevronMenu(msgIndex)"
                    :class="{'hover' : showChevron===msgIndex}"
                    class="fa-solid fa-chevron-down icon chevron"
                  ></i>
                  <div
                    v-show="showChevronMenu === msgIndex"
                    class="chevron-menu"
                  >
                    <ul>
                      <li @mouseenter="isInfoMenu=true" @mouseleave="isInfoMenu=false">Info messaggio</li>
                      <div v-show="isInfoMenu===true"class="info-box">
                        <p
                        v-if="contacts[counterIndex].messages[msgIndex].status==='received'"
                        class="info-msg"
                      >
                        Inviato da {{contacts[counterIndex].name}}
                        il {{contacts[counterIndex].messages[msgIndex].date}}
                      </p>
                      <p
                      v-else
                      class="info-msg"
                    >
                      Inviato a {{contacts[counterIndex].name}}
                      il {{contacts[counterIndex].messages[msgIndex].date}}
                    </p>
                      </div>
                      <li
                        @click="deleteMessage(msgIndex, counterIndex)"
                        v-if="message.textMessage === ''"
                        class="delete-msg definitive"
                      >
                        Elimina definitivamente
                      </li>
                      <li
                        @click="checkDeleteMessage(msgIndex, counterIndex)"
                        v-else
                        class="delete-msg"
                      >
                        Cancella messaggio
                      </li>
                    </ul>
                  </div>
                </div>
                <span class="time-msg">{{message.date.slice(0, 14)}}</span>
              </div>
            </div>
            <!-- /ACTIVE CHAT: MESSAGES -->
          </div>

          <!-- TYPING SECTION -->
          <div class="typing-area">
            <i class="fa-regular fa-face-smile icon"></i>
            <input
              @keyup.enter="userMessage();"
              v-model.trim="inputMessage"
              type="text"
              class="type-input"
              placeholder="Scrivi un messaggio"
            />
            <i class="fa-solid fa-microphone icon"></i>
          </div>
          <!-- /TYPING SECTION -->
        </div>
        <!-- /CHAT SECTION -->
      </div>
    </div>

    <script src="js/script.js"></script>
  </body>
</html>
